*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 1);
    color: aliceblue;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.5rem;
}
textarea{
    width: 50dvw;
    height: 70dvh;
    resize: none;
}
button{
    padding: 20px 30px;
    color: gold;
    background: navy;
    border: 3px dashed firebrick;
    border-radius: 30px;
    font-size: 1.5rem;
    margin: 10px 5px;
}

@media (orientation: portrait){
    body{
        padding-top: 10vh;
        overflow-x: hidden;
    }
    .container{
        margin-top: 10dvh;
    }
    textarea{
    width: 70dvw;
    height: 50dvh;
    }
    button{
        width: 90%;
    }
    .menu{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}